body{
	margin: 0dp;
	padding: 0dp;
}

<!-- main -->
.main_section {
	text-align: center;
	width: 1300px;
	margin: auto;
}
.main_nav {
	text-align: center;
}
.main_nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	text-align: center;
}
.main_nav ul li {
	float: left;
	width: 200px;
}
.main_nav ul li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: black;
}
.main_nav ul li a:hover {
	background-color: #999;
	color: white;
}
.choice_div {
	background-color: white;
	border-radius: 2px;
	margin: auto;
	margin-top: 70px;
	width: 700px;
	text-align: left;
	padding: 20px;
}
.choice_btn {
	border-radius: 15px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.table_vote {
	text-align: left;
}
.choice_table {
	text-align: center;
	width: 700px;
}
.choice_btn_div {
	border: 1px solid gray;
	width: 300px;
	height: 300px;
	margin: auto;
	text-align: center;
}
.choice_btn_div:hover {
	background-color: #BDBDBD;
}
.choice_btn_div h3 {
	marign: auto;
	width: 300px;
	height: 100px;
	vertical-align: middle;
	margin-top: 130px;
}

.manager_View_Form_ul {
	list-style-type: none;	
	background-color: #ddd;
	margin: 0;
	padding: 0;
}
.manager_View_Form_ul li {
	border-top: 1px solid #fff;
}
.manager_View_Form_ul li a {
	color: black;
	text-decoration: none;
	display: block;
}
.manager_View_Form_ul li a:hover {
	background-color: #888;
	color:white;
}
